.nav {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr;
    padding: 20px;
    gap: 20px;


    & img {
        height: 36px;
        width: auto;
        object-fit: contain;
    }

    .links {
        display: grid;
        place-self: center;
        height: min-content;

        grid-auto-flow: row;

        gap: 12px;

        .link {
            display: grid;
            place-content: center;
            border-radius: 8px;

            height: 36px;
            width: 36px;

            transition: background-color 250ms;

            &.active {
                background-color: #ccc;

                svg {
                    fill: #D704FC;
                }
            }

            svg {

                transition: fill 250ms;
                fill: #ccc;
            }
        }
    }
}